@using BookShopSystem.Services.Data.Interfaces;
@using BookShopSystem.Web.Infrastructure.Extensions;
@model IEnumerable<IndexViewModel>

@inject IManagerService ManagerService
@{
    ViewData["Title"] = "Home Page";

    var books = Model.ToList();
    var isUserManager = await ManagerService.ManagerExistsByUserIdAsync(this.User.GetId()!);
}

@if (!books.Any())
{
    <div class="mt-4 p-5">
        <h1 class="display-4">Welcome to the best place for selling books!</h1>
        <p class="lead text-white">
            There are no books in the system currently available so why don't you just add one?
        </p>
        <hr class="my-4">
        <p class="lead">
            @if (User.Identity?.IsAuthenticated ?? false)
            {
                @if (isUserManager)
                {
                    <a asp-controller="Book" asp-action="Add" class="btn btn-primary btn-lg" role="button">Add Book</a>
                }
            }
        </p>
    </div>
}

<div class="mb-5"></div>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" style="width:40%; height:40%; margin-left:auto;margin-right:auto;">
        @for (int i = 0; i < books.Count(); i++)
        {
            var book = books[i];
            <div class="carousel-item @(i == 0 ? "active" : string.Empty)">
                <img class="d-block w-100" style="height:600px" src="@book.ImageUrl" alt="@book.Title">
                <div class="carousel-caption d-none d-md-block">
                    <h5>
                        <a class="btn btn-primary" asp-controller="Book" asp-action="Details" asp-route-id="@book.Id"> @book.Title</a>
                    </h5>
                </div>
            </div>
        }
    </div>
    <a class="carousel-control-prev" data-bs-target="#carouselExampleControls" role="button" style="background-color:gray" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" data-bs-target="#carouselExampleControls" role="button" style="background-color:gray" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>

<div class="mb-5"></div>

<div class="row">
    <div class="col-12 text-center">
        <button class="btn btn-primary" id="statistics_btn">Show Statistics</button>
    </div>
</div>

<div class="mt-4 p-5 bg-light d-none" id="statistics_box">
    <div class="row">
        <h2 class="col-md-6 text-center" id="total_houses"></h2>
        <h2 class="col-md-6 text-center" id="total_rents"></h2>
    </div>
</div>

@section Scripts
{
    <script>statistics();</script>
}
