@using BookShopSystem.Services.Data.Interfaces;
@using BookShopSystem.Web.Infrastructure.Extensions;
@model IEnumerable<IndexViewModel>

@inject IManagerService ManagerService
@{
    ViewData["Title"] = "Home Page";

    var books = Model.ToList();
    var isUserManager = await ManagerService.ManagerExistsByUserIdAsync(this.User.GetId()!);
}

@if (!books.Any())
{
    <div class="mt-4 p-5">
        <h1 class="display-4">Welcome to the best place for selling books!</h1>
        <p class="lead text-white">
            There are no books in the system currently available so why don't you just add one?
        </p>
        <hr class="my-4">
        <p class="lead">
            @if (User.Identity?.IsAuthenticated ?? false)
            {
                @if (isUserManager)
                {
                    <a asp-controller="Book" asp-action="Add" class="btn btn-primary btn-lg" role="button">Add Book</a>
                }
            }
        </p>
    </div>
}

<div class="mb-5"></div>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" style="width:40%; height:40%; margin-left:auto;margin-right:auto;">
        @for (int i = 0; i < books.Count(); i++)
        {
            var book = books[i];
            <div class="carousel-item @(i == 0 ? "active" : string.Empty)">
                <img class="d-block w-100" style="height:600px" src="@book.ImageUrl" alt="@book.Title">
                <div class="carousel-caption d-none d-md-block">
                    <h5>
                        <a class="btn btn-primary" asp-controller="Book" asp-action="Details" asp-route-id="@book.Id"> @book.Title</a>
                    </h5>
                </div>
            </div>
        }
    </div>
    <a class="carousel-control-prev" data-bs-target="#carouselExampleControls" role="button" style="background-color:gray" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" data-bs-target="#carouselExampleControls" role="button" style="background-color:gray" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>

<div class="mb-5"></div>

<div class="row">
    <div class="col-12 text-center">
        <button class="btn btn-primary" id="statistics_btn">Show Statistics</button>
    </div>
</div>

<div class="mt-3 p-2 d-none" id="statistics_box">
   <h2 class="text-center text-white" id="total_Purchases"></h2>
</div>

<div style="position: relative;width: 100%;height: 50vh;">
    <canvas id="myChart" style="width:100%;max-width:500px;height:100%;max-height:600px;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%)"></canvas>
</div>

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        $('#statistics_btn').on('click', function (e) {
            e.preventDefault();
            e.stopPropagation();

            if ($('#statistics_box').hasClass('d-none')) {
                $.get('https://localhost:7084/api/statistics', function (data) {
                    $('#total_Purchases').text("Total Purchases: " +data.totalPurchases);
                    // Създаване на кръговата диаграма
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels: ['Total Fantasy Purchases', 'Total Sci-Fi Purchases', 'Total Mystery Purchases', 'Total Thriller Purchases',
                                'Total Romance Purchases', 'Total Westerns Purchases', 'Total Dystopian Purchases', 'Total Contemporary Purchases',],
                            datasets: [{
                                label: 'Statistics',
                                data: [data.totalFantasyPurchases, data.totalSciFiPurchases, data.totalMysteryPurchases, data.totalThrillerPurchases
                                    , data.totalRomancePurchases, data.totalWesternsPurchases, data.totalDystopianPurchases, data.totalContemporaryPurchases],
                                backgroundColor: ['rgba(75, 192, 192, 0.2)',
                                                  'rgba(153, 102, 255, 0.2)',
                                                  'rgba(255, 159, 64, 0.2)',
                                                  'rgba(255, 99, 132, 0.2)',
                                                  'rgba(54, 162, 235, 0.2)',
                                                  'rgba(255, 206, 86, 0.2)',
                                                  'rgba(75, 192, 192, 0.2)',
                                                  'rgba(153, 102, 255, 0.2)'],
                                borderColor: ['rgba(75, 192, 192, 1)',
                                              'rgba(153, 102, 255, 1)',
                                              'rgba(255, 159, 64, 1)',
                                              'rgba(255, 99, 132, 1)',
                                              'rgba(54, 162, 235, 1)',
                                              'rgba(255, 206, 86, 1)',
                                              'rgba(75, 192, 192, 1)',
                                              'rgba(153, 102, 255, 1)'],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            
                        }
                    });

                    $('#statistics_box').removeClass('d-none');
                    $('#myChart').removeClass('d-none');

                    $('#statistics_btn').text('Hide Statistics');
                    $('#statistics_btn').removeClass('btn-primary');
                    $('#statistics_btn').addClass('btn-danger');
                });
            } else {
                $('#statistics_box').addClass('d-none');
                $('#myChart').addClass('d-none');

                $('#statistics_btn').text('Show Statistics');
                $('#statistics_btn').removeClass('btn-danger');
                $('#statistics_btn').addClass('btn-primary');
            }
        });
    </script>
}
