@model BookAllViewModel

@*<div class="col-md-4">
    <div class="card mb-3">
        <img class="card-img-top" src="@Model.ImageUrl" alt="Book Image">
        <div class="card-body text-center">
            <h4>@Model.Title</h4>
            <h6>Author: <b>@Model.Author</b></h6>
            <h6>
                Price:
                <b>@($"{Model.Price:f2}") BGN</b>
            </h6>
            <h6>Age Restriction: <b>@Model.AgeRestriction</b></h6>
            <br />
            <a asp-controller="Book" asp-action="Details" asp-route-id="@Model.Id"
               class="btn btn-success">Details</a>
            <form class="ml-2" asp-controller="Wishlist" asp-action="AddToWishlist" asp-route-id="@Model.Id" method="post">
                  <input class="btn btn-primary" type="submit" value="Add To Wishlist" />
            </form>
            <form class="ml-2" asp-controller="Cart" asp-action="AddToCart" asp-route-id="@Model.Id" method="post">
                <input class="btn btn-success" type="submit" value="Add To Cart" />
            </form>
        </div>
    </div>
</div>
*@
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/bookPartialStyle.css"/>
    </head>
    <body>
        <div class="col-md-4">
            <div class="card mb-3">
                <img class="card-img-top" src="@Model.ImageUrl" alt="Book Image">
                <div class="card-body text-center">
                    <h4>@Model.Title</h4>
                    <h6>Author: <b>@Model.Author</b></h6>
                    <h6>Price: <b>@($"{Model.Price:f2}") BGN</b></h6>
                    <h6>Age Restriction: <b>@Model.AgeRestriction</b></h6>
                    <br />
                    <div class="d-flex justify-content-between mb-2">
                        <a asp-controller="Book" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-success mr-2">Details</a>
                        <form class="ml-2" asp-controller="Cart" asp-action="AddToCart" asp-route-id="@Model.Id" method="post">
                            <button type="submit" class="btn btn-success" aria-label="Add To Cart">
                                <span aria-hidden="true">🛒</span> Add To Cart
                            </button>
                        </form>
                        <form class="ml-2" asp-controller="Wishlist" asp-action="AddToWishlist" asp-route-id="@Model.Id" method="post">
                            <button type="submit" class="btn btn-primary" aria-label="Add To Wishlist">
                                <span aria-hidden="true">❤</span> Wishlist
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>